.headerPrincipal{
    
    background: linear-gradient(to bottom right,#4E98DE, #4EDEA9);
    position: relative;
    overflow: hidden;
    height: 400px;
    display: flex;
    flex-direction: column;
}
.container{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}
.logo{
    width: 10rem;
}
.login{
    margin-left: 50rem;
}
.barraBusqueda{
    margin-left: 2rem;
}
/* Styles for the photo carousel */
.promociones {
    display: flex;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    animation: slide 10s infinite;
}

/* Styles for each photo in the carousel */
.promociones img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* Animation for the photo carousel */
@keyframes slide {
    0% { transform: translateX(0); }
    20% { transform: translateX(0); }
    25% { transform: translateX(-100%); }
    45% { transform: translateX(-100%); }
    50% { transform: translateX(-200%); }
    70% { transform: translateX(-200%); }
    75% { transform: translateX(-300%); }
    100% { transform: translateX(-300%); }
}

/* Styles for the information overlay */
.header-info {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    text-align: center;
    color: #fff;
    font-size: 2rem;
}

/* Styles for the information text */
.header-info h1 {
    margin: 0;
    font-weight: 700;
    font-size: 3rem;
    line-height: 1.2;
    text-shadow: 1px 1px #000;
}