.headerPrincipal {

    background: linear-gradient(to bottom right, #4E98DE, #4EDEA9);
    position: relative;
    overflow: hidden;
    height: 60px;
    display: flex;
    flex-direction: column;
}

.container {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.logo {
    width: 10rem;
    margin-left: 5rem;
}

.login {
    font-family: 'Montserrat';
    margin-right: 10px;
    margin-left: 40rem;
}

.barraBusqueda {
    margin-left: 2rem;
    font-family: 'Montserrat, bold';
}

.serch {
    font-family: 'Montserrat';
}

.promociones {
    display: flex;
    width: 100%;
    height: 25%;
}

.promociones img {
    width: 100%;
    height: 40%;
    position: absolute;
    object-fit: cover;
}

.header-info {
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    text-align: center;
    color: #fff;
    font-size: 2rem;
    font-family: 'Montserrat';
}

.header-info h1 {
    margin: 0;
    font-weight: 700;
    font-size: 3rem;
    line-height: 1.2;
    text-shadow: 1px 1px #000;
    font-family: 'Montserrat';
}

.button {
    border-radius: 4px;
    background-color: #4EDEA9;
    font-family: 'Montserrat';
    border: none;
    color: #fff;
    text-align: center;
    padding: 10px;
    cursor: pointer;
}

.inputBusqueda {
    border-radius: 8px;
    background-color: #4E98DE;
    font-family: 'Montserrat';
    border: none;
    color: #fff;
    padding: 10px;
    width: 15rem;
}

.inputBusqueda::placeholder {
    color: white;
}